{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="d-flex mt-3 mb-3 align-items-center">
    <span class="mr-auto h1">Schemas</span>
    <a href="{% url 'schema_create' %}" class="btn btn-success btn-lg ml-auto">New Sheme</a>
  </div>
    {% if schemas %}
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Last modified</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for schema in schemas %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td><a href="{{ schema.get_absolute_url }}">{{ schema.name }}</a></td>
        <td>{{ schema.last_modified }}</td>
        <td><a href="{% url 'schema_edit' schema.schema_id%}">Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a id="delete"  href="{% url 'schema_delete' schema.schema_id%}">Delete</a></td>
      </tr>
    {% endfor %}
    {% else %}
    <span class="mr-auto h3">No schemas here yet</span>
    {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}